<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC

        "-//Hibernate/Hibernate Configuration DTD//EN"

        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.connection.driver_class"> com.mysql.cj.jdbc.Driver
        </property>
        <property name="hibernate.connection.url"> jdbc:mysql://localhost/sklep
        </property>
        <property name="hibernate.generate_statistic">true</property>
        <property name="hibernate.connection.serverTimezone"> UCT </property>
        <property name="hibernate.connection.username"> root </property>
        <property name="hibernate.connection.useSSL"> false </property>
        <property name="hibernate.connection.password">root </property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.sda.Customer"></mapping>
        <mapping class="com.sda.aOrder"></mapping>
        <mapping class="com.sda.OrderLine"></mapping>
        <mapping class="com.sda.Product"></mapping>

        <!--        <mapping class="com.sdajava.hibernate.entity.BooksEntity"/>-->

        <!-- DB schema will be updated if needed -->

        <!-- <property name="hbm2ddl.auto">update</property> -->

    </session-factory>

</hibernate-configuration>

